h1{
    // text-align: center;
    padding: 15px;
    display: block;
    width: 100%;
}

.MovieForm{
    margin: 0 auto;
    .error-notification{
        // text-align: center;
        padding-left: 100px;
        display: block;
        padding-bottom: 10px;

    }
}