@import "../../styles/mixin";
@import "../../styles/variable";

.Booking{
    position: relative;
    .BookingPoster-bg{
        width: 100%;
        position: absolute;
        z-index: -1;
        background-color: rgba(8, 0, 92, 0.714);
        height: 900px;
        filter: blur(15px);
    }
    .BookingContainer{
        width: 100%;
        padding: 100px 0 0 0;
        .BookingContainer-bg{
            width: 100%;
            .BookingWrapper{
                margin: 0 auto;
                width: 75%;
                .BookingContent{
                    .BookingContent-inner{
                        .barBooking{

                        }
                        .Seat{
                            .SeatContent{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                height: 80%;
                            }

                        }
                        .movie{

                            .button-outline{
                                @include button-outline();
                            }
                            .button-outline:hover{
                                @include button-outline-hover();
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

@include responsive(XL){
    .Booking{

        .BookingPoster-bg{

        }
        .BookingContainer{

            .BookingContainer-bg{

                .BookingWrapper{

                    width: 80%;
                    .BookingContent{
                        .BookingContent-inner{

                            .Seat{
                                width: 60%;
                                .SeatContent{

                                }
                            }
                            .movie{
                                width: 40%;
     
                            }
                        }
                    }
                }
            }
        }
    }
}

@include responsive(LG){
    .Booking{

        .BookingPoster-bg{

        }
        .BookingContainer{

            .BookingContainer-bg{

                .BookingWrapper{

                    width: 90%;
                    .BookingContent{
                        .BookingContent-inner{

                            .Seat{
                                width: 60%;
                                .SeatContent{

                                }
                            }
                            .movie{
                                width: 40%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include responsive(MD){
    .Booking{

        .BookingPoster-bg{
            height: 1200px;
        }
        .BookingContainer{
            padding: 50px 0 0 0;
            .BookingContainer-bg{

                .BookingWrapper{

                    width: 90%;
                    .BookingContent{
                        .BookingContent-inner{
                            display: flex;
                            flex-direction: column;
                            // justify-content: center;
                            .Seat{
                                min-width: 100%;
                                .SeatContent{
                                    padding: 20px;

                                }
                            }
                            .movie{
                                min-width: 55%;
                                margin: 0 auto;
     
                            }
                        }
                    }
                }
            }
        }
    }
}