@import "../../styles/mixin";
@import "../../styles/variable";

.MovieDetail{
    background: linear-gradient(black, #444343);
    width: 100vw;
    position: relative;
    .MovieDetailContainer{
        .MovieDetailbg{
            .MovieDetailWrapper{   
                .MovieDetailContent{
                    .MovieDetailBody{
                        padding: 150px 0;
                        .MovieDetailBody-container{
                            width: 75%;
                            margin: 0 auto;
                            color: white;
                            font-family: 'Encode Sans Semi Condensed', sans-serif;
                        }
                    }
    
                }
            }
        }
    }
}

@include responsive(LG){
    .MovieDetail{

        .MovieDetailContainer{
            .MovieDetailbg{
                .MovieDetailWrapper{   
                    .MovieDetailContent{
                        .MovieDetailBody{
                            padding: 100px 0;
                            .MovieDetailBody-container{
                                width: 80%;
                            }
                        }
        
                    }
                }
            }
        }
    }
}