.Content{
    padding: 15px;
    img{
        box-shadow: 0 5px 10px rgb(0, 0, 0);
    }
}
.Content-Booking{
    a{
        text-decoration: none;
    }
    a:hover{
        color: brown;
    }
    .button-outline{
        background-color: rgb(120, 5, 5);
        box-shadow: 0 4px 8px 0 rgba(190, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: white;
        font-family: 'Encode Sans Semi Condensed', sans-serif;
    }
    .button-outline:hover{
        background-color: rgb(54, 1, 9);
        scale: 1.05;
        transition: .5s;
        color: white;
    }
}
