@import "../../../../../styles/mixin";

.Content{
    padding: 15px;
    img{
        box-shadow: 0 5px 10px rgb(0, 0, 0);
    }
}
.Content-Booking{
    a{
        text-decoration: none;
    }
    a:hover{
        color: brown;
    }
    .button-outline{
        @include button-outline();
    }
    .button-outline:hover{
        @include button-outline-hover();
    }
}
