@import "../../../../styles/mixin";
@import "../../../../styles/variable";

.Detail{
    // padding: 15px auto;
    border-radius: 20px 0 20px 0;
    background: linear-gradient(130deg,#ff781895,#af002cab 41.07%,#319097a5 76.05%);
    height: 60%;
    .DetailContainer{
        margin: 20px 0;
        padding: 10px;
        width: 100%;
        .DetailContainer-Header{
            height: 100%;
            img{
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.914);
            }
        }
        .DetailContainer-content{
            .trailer{
                iframe{
                align-self: center;
                width: 100%;
                height: 400px;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }

                .button-outline{
                    @include button-outline();
                }
                .button-outline:hover{
                    @include button-outline-hover();
                }
            }

        }
    }
}

@include responsive(MD){
    .Detail{

        .DetailContainer{
            
            width: 100%;
            display: flex;
            flex-direction: column;
            .DetailContainer-Header{
                //remove col-4 bootstrap
                max-width: 100% !important;
                text-align: center;
                padding: 10px 0;
                img{
                    width: 80%;
                    height: auto;
                }
            }
            .DetailContainer-content{
                padding: 10px 0;
                max-width: 100% !important;
                .content{
                    h4{
                        font-size: $text-lg;
                    }
                    p{
                        font-size: $text-xs;
                    }
                }
                .trailer{
                    iframe{
                    width: 100%;
                    height: 250px;
                    }
                    .button-outline{

                    }
                    .button-outline:hover{

                    }
                }
    
            }
        }
    }
}